.searchInput {
  background-color: transparent;
  opacity: 0.8;

  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 400;

  padding: 0 15px 0 30px;
  height: 40px;
  width: 88%;

  &:focus {
    border: 2px solid white;
    opacity: 1;
  }

  &:focus::placeholder {
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  &:focus-visible {
    outline: transparent !important;
  }
}

.wrapper {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  position: relative;
  padding-bottom: 25px;
}

.searchIcon {
  opacity: 0.8;
  left: 7px;
  top: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
}

.searcButton {
  width: 10%;
}
