.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  padding: 5px 10px;
  gap: 10px;

  background: rgb(30, 28, 51);
  color: white;
  box-shadow: 20px 20px 10px rgb(0, 0, 0, 1);

  &:hover {
    scale: 1.02;
    cursor: pointer;
  }
}

.image {
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 30px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 15px;
}

.infoItem {
  font-weight: 600;
  font-size: 20px;
}
