.container {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.logo {
  width: 100%;
  height: 300px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  & > p {
    text-indent: 1.5em;
    text-align: justify;

    &::first-letter {
      font-size: 30px;
      color: #f0e14a;
      font-size: 800;
      margin: 0 5px;
    }
  }
}
